#logo{
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0,0.1), 0px 12px 18px rgba(0, 0, 0,0.1);
    position: sticky;
    padding: 35px 0 12px 0;

    & img{
        width: 200px;
    }
    
}


.logo{
    &--precedent{
        position: absolute;
        font-size: 2rem;
        left: 20px;
        top: 35px;
    }
}


@media screen and (min-width:992px){
    #logo{    
        padding: 30px 0 12px 0;
        & img{
            width: 240px;
        }
        
    }

    .logo{
        &--precedent{
            left: 20px;
            top: 35px;
        }
    }

}