#logo{
    font-family: $title-font;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0,0.1), 0px 12px 18px rgba(0, 0, 0,0.1);
    font-size: 1.1rem;
    position: sticky;
    padding: 20px;
}

h1{
    margin: 0;
}

.logo{
    &--precedent{
        position: absolute;
        font-size: 2rem;
        left: 30px;
        top: 25px;
    }
}
