#lapalettedugout{
    background: url("/public/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") no-repeat center;
    @include formBanner;
}

#lanoteenchantee{
    background: url("/public/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") no-repeat center;
    @include formBanner;
}

#alafrancaise{
    background: url("/public/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") no-repeat center;
    @include formBanner;
}

#ledelicedessens{
    background: url("/public/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") no-repeat center;
    @include formBanner;
}