@keyframes delay{
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes loading {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
        z-index: -1000;
    }
}


@keyframes lettre {
    0% {
        color: $primary-color;
        text-shadow: 0 0 7px $primary-color;
    }

    90% {
        color: $secondary-color;
        text-shadow: none;
    }

    100% {
        color: $primary-color;
        text-shadow: 0 0 7px $primary-color;
    }
}


@keyframes point {
    0% {
        color: $primary-color;
        text-shadow: 0 0 7px $primary-color;
    }

    90% {
        color: $secondary-color;
        text-shadow: none;
    }

    100% {
        color: $third-color;
        text-shadow: 0 0 7px $primary-color;
    }
}