.menu-card{
    background-color: #f6f6f6;
    border-radius: 50px;
    margin: -80px auto;
    padding: 10px;
    @include heart(':focus');

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__title{
        font-family: $title-font;
        padding-left: 14px;
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 24px;
    }

    &__food{
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-template-areas: "starter" "main" "dessert";
        margin-bottom: 20px;
        justify-content: center;
        width: 95%;
        margin: auto;
            
        & h3{
            font-size: 20px;
            margin-bottom: 30px;
            position: relative;
            font-weight: 400;
            

            &::after{
                content: '';
                width: 55px;
                height: 4px;
                left: 0px;
                bottom: -8px;
                background: #99e2d0;
                position: absolute;          
            }
        }
        
        &__start{
            grid-area: starter;
            margin-top: 30px;
            @include animationDelay(0.7, 0, '.animationdelay1', '.animationdelay2', '.animationdelay3', '.animationdelay4');
        }
        
        &__main{
            grid-area: main;
            margin-top: 30px;
            @include animationDelay(0.7, 0.3, '.animationdelay1', '.animationdelay2', '.animationdelay3');
        }
        
        &__dessert{
            grid-area: dessert;
            margin-top: 30px;
            @include animationDelay(0.7, 0.6, '.animationdelay1', '.animationdelay2', '.animationdelay3');
        }

    }

    .btn{
        display: flex;
        justify-content: center;
        margin-bottom: 70px;

        & button{
            width: 300px;
        }
    }
}


.lunches{

    &__starter{
        @include thumbnailstyle;
        @include check(':focus');
    }

    &__main{
        @include thumbnailstyle;
        @include check(':focus');
    }

    &__dessert{
        @include thumbnailstyle;
        @include check(':focus');
    }

    &-card{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        
        
        &__food{
            white-space: nowrap;
            width: 97%;
            overflow: hidden;

            &__title{
                font-weight: 600;
                font-size: 21px;
                margin-bottom: 5px;  

                & p{
                    transition: ease-in-out 450ms;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            &__description{
                display: flex;
                justify-content: space-between;

                & p{
                    transition: all ease-in-out 450ms;
                    font-size: 17px;  
                    &:nth-child(1){
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    &:nth-child(2){
                        font-weight: bold;
                    }
                }
            }
        }
    }
}


// MEDIA QUERY ----------------------------------------------------

@media screen and (min-width:992px) {
    .menu-card{
        display: flex;
        flex-direction: column;
        max-width: 1440px;
        margin: -50px auto;
        @include heart(':hover');

        &__heart{
            position: sticky;
        }    

        &__header{
            justify-content: center;
            margin-bottom: 20px;
        }

        &__title{
            padding-right: 20px;
            font-size: 30px;
        }

        &__food{
            display: grid;
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
            grid-template-rows: 1fr;
            grid-template-areas: "starter main dessert" "starter main dessert" "starter main dessert";
            grid-column-gap: 20px;
            justify-content: center;
            grid-area: food;
        }
    }

    .lunches{

            &__starter{
                @include check(':hover');
            }
        
            &__main{
                @include check(':hover');
            }
        
            &__dessert{
                @include check(':hover');
            }

        &-card{
            &__title{
                font-weight: bold;
                font-size: 1.1rem;
                font-size: 1.05rem;
                text-overflow: ellipsis;
                width: 70%;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}


