@mixin thumbnailsize($nombre, $width, $height){
    @for $i from 1 through $nombre{
        &:nth-child(#{$i}){
            width: #{$width};
            height: #{$height};
        }
    }
}

@mixin thumbnailstyle{
    display: flex;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 12px 18px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: white;
    margin: 20px auto;
    width: 100%;
    height: 80px;
    overflow: hidden;
    padding-left: 10px;
    position: relative;
    cursor: grab;
}


@mixin formNumberChoice($top, $left){
    @for $i from 1 through 3{
        &:nth-child(#{$i}){
            &::before{
                content:'#{$i}';
                border-radius: 50%;
                padding: 7px 9px 3px 9px;
                background-color: $primary-color;
                color: white;
                font-size: 14px;
                font-family: $text-font;
                position: absolute;
                top: #{$top}px;
                left: #{$left}px;
            }
        }
    }
}


@mixin formBanner{

    width: 100vw;
    height: 45vh;
    background-size: cover;
}

/* $mode correspond pour le moment à ':focus' ou ':hover' => @include(':focus:') */
@mixin heart($mode){ 
    &__heart{
        margin-right: 20px;
        position: absolute;
        right: 0;
        bottom: 22px;
        width: 30px;
        height: 30px;

        &--full{
            stroke: black;
            stroke-width: 30px;
            fill: url(#color_fill);
            fill-opacity: 0;
            cursor: pointer;
            transition: 1s ease;

            &#{$mode}{
                stroke-opacity: 0;
                fill-opacity: 1;
                outline: 0;
            }
        }
    }
}

/* $mode correspond pour le moment à ':focus' ou ':hover' => @include(':focus:') */   
@mixin check($mode){  
    .container-icon{
        position: absolute;
        right: 0;
        background-color: $third-color;
        height: 100%;
        width: 70px;
        padding: 0 13px;
        transform: translateX(70px);
        transition: 0.65s;
        
        & i{
            font-size: 1.9rem;
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(-360deg);
            transition: 0.5s ease-in-out;
        }
    }

    &#{$mode}{
        & .lunches-card__food{
            &__title{
                & p{
                    padding-right: 70px;
                }
            }

            &__description{
                & p:nth-child(2){
                    padding-right: 70px;
                }
            }
        }

        & .container-icon{
            transform: translateX(0px);
            & i{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) rotate(0deg);
            }
        }
    }  
}

@mixin animationDelay($duration, $delay, $desc...){
    @for $i from 0 to length($desc){
        #{nth($desc, $i + 1)}{
            -webkit-animation: delay #{$duration}s ease-in-out #{$delay + 0.1s} both;
                    animation: delay #{$duration}s ease-in-out #{$delay + 0.1s} both;
            $delay: $delay + 0.1;
        }
    }
}


@mixin loadingdelay($delay, $number){
    @for $i from 0 to $number{
        &:nth-child(#{$i+1}){
            -webkit-animation-delay: #{$delay + 0.1s};
                    animation-delay: #{$delay + 0.1s};
            $delay: $delay + 0.1;
        }
    }
}


